@import url("./cabecalho.css");
@import url("./conteudo.css");
*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

/* .cabecalho {

 display: flex;
    
 justify-content: space-between;
    
 align-items: center;
    
 background-color: black; /* Definir cor de fundo */
html{
    font-size: 62.7%;
}


.tit-foto{
    font-size: 4rem;
    text-align: center;
    margin: 5% 0;

}
